.course{
  background-color: aliceblue;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: sans-serif;
  margin: 10px;
  padding: 2px;
  text-align: center;
  display: inline-block;
}
.course img{
  width: 200px;
  /* height: 100px; */

}

.course p{
  text-decoration: line-through;
}